.graphic{
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0 115px 0;
    .graphic__info{
      width: 588px;
      .pretitle{
        font-family: 'Palatino', sans-serif;
        font-style: italic;
        font-weight: normal;
        font-size: 32px;
        line-height: 34px;
      }
      .title{
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
        line-height: 52px;
        font-weight: 600;
      }
      .text{
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        line-height: 25px;
        margin-top: 25px;
      }
    }
  }
  &__design-items{
    display: flex;
    margin-top: 50px;
    .graphic__design-item{
      width: 283px;
      #first-graphic-icon{
        padding-bottom: 4px;
      }
      &__title{
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        line-height: 29px;
        font-weight: 600;
        margin-top: 10px;
      }
      &__text{
        font-family: 'Montserrat', sans-serif;
        line-height: 25px;
        margin-top: 10px;
      }
      .read-more{
        margin-top: 35px;
      }
    }
  }
}
