.heading {
  position: relative;
  background: url('/images/heading/background.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Montserrat';
  font-weight: 600;
  padding-bottom: 1px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 0 10px;
    max-width: 1660px;
    margin: 0 auto;
    color: #fff;
    .header-nav {
      align-items: center;
      .header-nav__items {
        display: flex;
        li {
          list-style: none;
          margin-right: 32px;
          a{
            color: #fff;
            transition: 0.3s all;
            font-size: 18px;
            &:hover {
              color: #eaabfa;
              text-shadow: 0 3px 3px rgb(61, 61, 61);
            }
          }
        }
      }
    }
    
    .mobile-nav__btn {
      display: none;
      .burger__line {
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 0 10px 5px 0;
      }
    }
    
  }
  .mobile-nav {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba($color: #000000, $alpha: 0.9);
    margin-top: 10px;
    .mobile-nav__items {
      height: 298px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      list-style: none;
      padding-left: 0;
      .mobile-nav__item {
        text-align: center;
        padding: 13px 0 13px 0;
        border-bottom: 1px solid rgb(121, 121, 121);
        width: 100%;
        transition: 0.2s all;
        &:hover,
        &:active {
          background-color: rgb(219, 153, 228);
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
  .heading__content {
    margin: 0;
    padding: 165px 0 0;
    .heading__pre-title {
      font-family: 'Palatino', sans-serif;
      font-weight: normal;
      color: #fff;
      font-size: 42px;
      line-height: 44px;
      margin: 0 0 0 -70px;
    }
    .heading__title {
      font-size: 64px;
      line-height: 68px;
      color: #fff;
      margin: 15px 0 0 -70px;
      padding: 0;
      max-width: 745px;
      font-weight: 600;
    }
    .heading__text {
      font-size: 23px;
      line-height: 32px;
      margin: 45px 0 0 -70px;
      max-width: 710px;
      color: #fff;
      font-weight: normal;
    }
  }
  .heading-buttons {
    display: flex;
    align-items: center;
    margin: 60px 0 243px;
    button {
      padding: 22px 43px;
      margin: 0 22px 0 0;
      border-radius: 36px;
      transition: 0.3s all;
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 17px;
      color: #fff;
      &:hover {
        box-shadow: 0px 0px 6px rgb(224, 143, 224);
      }
    }
    .story__btn {
      background-color: #f42267;
    }
    .more__btn {
      background-color: #67328d;
    }
  }
  .heading-person {
    position: absolute;
    bottom: 0;
    right: 310px;
  }
}