.partners{
  background-color: #4b2d7f;
  padding: 115px 0;
  &__wrapper{
    margin: 0 -65px;
  }
  &__items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 65px;
  }
  &__item{
    width: 260px;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}