*{padding:0;margin:0;border:0;}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0}
a, a:visited, a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-family: inherit;font-weight: 400;}

@mixin placeholder {
  &::-webkit-input-placeholder { color: #fff; }
  &:-moz-placeholder           { color: #fff; }
  &::-moz-placeholder          { color: #fff; }
  &:-ms-input-placeholder      { color: #fff; }  
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Palatino';
  src: url('/fonts/PalatinoLinotype Italic.ttf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.ttf');
  font-weight: 700;
}



.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.modal-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  font-family: 'Montserrat';
  color: #fff;
  transition: 0.3s all;
  .modal-card {
    background-color: rgba($color: #000000, $alpha: 0.5);
    width: 20%;
    height: 35%;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 0.3s all;
    h2 {
      font-size: 32px;
    }
    p {
      font-size: 22px;
    }
    button {
      background-color: #eaabfa;
      padding: 7px 30px;
      margin-bottom: 10px;
      border-radius: 36px;
      color: rgb(121, 121, 121);
      font-size: 20px;
      transition: 0.2s all;
      &:hover {
        color: #fff;
      }
    }
  }
}

.read-more {
  width: 138px;
  &__button {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    background-color: #f42267;
    padding: 20px 27px;
    border-radius: 15px;
    transition: 0.3s ease;
    transform: translateY(10px);
    &:hover {
      box-shadow: 0px 0px 6px rgb(224, 143, 224);
      transform: translateY(0);
    }
  }
  &__button-shadow {
    width: 137px;
    margin-top: -34px;
    background-color: #ff5990;
    padding: 20px 27px;
    border-radius: 15px;
    transition: 0.3s all;
  }
}

.section__nav-buttons {
  display: flex;
  align-items: center;
  button {
    color: #484848;
    background-color: transparent;
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: 600;
    padding: 20px 30px;
    border-radius: 36px;
    transition: 0.3s all ease;
    &:hover {
      text-shadow: 0 1px 3px rgb(145, 113, 148);
    }
  }
  .active {
    background-color: #f42267;
    color: #fff;
  }
}

.heading {
  position: relative;
  background: url('/images/heading/background.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Montserrat';
  font-weight: 600;
  padding-bottom: 1px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 0 10px;
    max-width: 1660px;
    margin: 0 auto;
    color: #fff;
    .header-nav {
      align-items: center;
      .header-nav__items {
        display: flex;
        li {
          list-style: none;
          margin-right: 32px;
          a{
            color: #fff;
            transition: 0.3s all;
            font-size: 18px;
            &:hover {
              color: #eaabfa;
              text-shadow: 0 3px 3px rgb(61, 61, 61);
            }
          }
        }
      }
    }
    
    .mobile-nav__btn {
      display: none;
      .burger__line {
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 0 10px 5px 0;
      }
    }
    
  }
  .mobile-nav {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba($color: #000000, $alpha: 0.9);
    margin-top: 10px;
    .mobile-nav__items {
      height: 298px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      list-style: none;
      padding-left: 0;
      .mobile-nav__item {
        text-align: center;
        padding: 13px 0 13px 0;
        border-bottom: 1px solid rgb(121, 121, 121);
        width: 100%;
        transition: 0.2s all;
        &:hover,
        &:active {
          background-color: rgb(219, 153, 228);
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
  .heading__content {
    margin: 0;
    padding: 165px 0 0;
    .heading__pre-title {
      font-family: 'Palatino', sans-serif;
      font-weight: normal;
      color: #fff;
      font-size: 42px;
      line-height: 44px;
      margin: 0 0 0 -70px;
    }
    .heading__title {
      font-size: 64px;
      line-height: 68px;
      color: #fff;
      margin: 15px 0 0 -70px;
      padding: 0;
      max-width: 745px;
      font-weight: 600;
    }
    .heading__text {
      font-size: 23px;
      line-height: 32px;
      margin: 45px 0 0 -70px;
      max-width: 710px;
      color: #fff;
      font-weight: normal;
    }
  }
  .heading-buttons {
    display: flex;
    align-items: center;
    margin: 60px 0 243px;
    button {
      padding: 22px 43px;
      margin: 0 22px 0 0;
      border-radius: 36px;
      transition: 0.3s all;
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 17px;
      color: #fff;
      &:hover {
        box-shadow: 0px 0px 6px rgb(224, 143, 224);
      }
    }
    .story__btn {
      background-color: #f42267;
    }
    .more__btn {
      background-color: #67328d;
    }
  }
  .heading-person {
    position: absolute;
    bottom: 0;
    right: 310px;
  }
}

.services {
  position: relative;
  padding-top: 65px;
  background: url('/images/services/world-map-bg.png') no-repeat;
  background-position: center;
  .services-wrapper {
    display: flex;
    padding-top: 25px;
    .services__info {      
      color: #484848;
      .services__pretitle {
        font-family: 'Palatino';
        font-size: 33px;
        line-height: 35px;
        font-weight: normal;
        max-width: 390px;
      }
      .services__title {
        padding-top: 22px;
        max-width: 578px;
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 50px;
        line-height: 52px;
      }
      .section__nav-buttons{
        margin: 30px 0 0;
      }
      .services__text {
        margin-top: 24px;
        width: 580px;
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
      }
      .read-more {
        margin-top: 55px;
        .read-more__button-shadow{
          text-align: center;
        }
      }
    }
    .services__image-wrapper {
      margin-left: 200px;
    }
  }
}

.achievements {
  position: relative;
  background-color: #4b2d7f;
  .achievements-wrapper {
    margin: 0 -100px;
    display: flex;
    justify-content: center;
    .achievements__item {
      padding: 75px 100px 100px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'Montserrat';
      color: #fff;
      h1{
        margin-top: 15px;
        font-weight: 600;
        font-size: 50px;
        line-height: 62px;
      }
      h4 {
        margin-top: 5px;
        text-align: center;
        width: 255px;
        font-size: 25px;
        span {
          font-size: 30px;
        }
      }
      p {
        margin-top: 15px;
        color: #7e7e7e;
        width: 340px;
        line-height: 30px;
        text-align: center;
      }
    }
    #item-two {
      background-color: #40286a;
    }
  }
  .grow-together{
    padding: 90px 0 80px;
    background: url('/images/achievements/grow-together-bg.jpg') no-repeat center / cover;
    .pretitle{
      font-family: 'Palatino', sans-serif;
      font-weight: normal;
      color: #fff;
      font-size: 50px;
      line-height: 52px;
      text-align: center;
    }
    .title{
      font-family: "Montserrat";
      font-weight: 600;
      font-size: 50px;
      line-height: 52px;
      color: #fff;
      text-align: center;
      margin-top: 16px;
    }
    .text{
      font-family: "Montserrat";
      font-size: 20px;
      line-height: 22px;
      color: #fff;
      text-align: center;
      margin-top: 43px;
    }
    .read-more {
      margin: 55px auto 0;
    }
  }
}
.graphic{
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0 115px 0;
    .graphic__info{
      width: 588px;
      .pretitle{
        font-family: 'Palatino', sans-serif;
        font-style: italic;
        font-weight: normal;
        font-size: 32px;
        line-height: 34px;
      }
      .title{
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
        line-height: 52px;
        font-weight: 600;
      }
      .text{
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        line-height: 25px;
        margin-top: 25px;
      }
    }
  }
  &__design-items{
    display: flex;
    margin-top: 50px;
    .graphic__design-item{
      width: 283px;
      #first-graphic-icon{
        padding-bottom: 4px;
      }
      &__title{
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        line-height: 29px;
        font-weight: 600;
        margin-top: 10px;
      }
      &__text{
        font-family: 'Montserrat', sans-serif;
        line-height: 25px;
        margin-top: 10px;
      }
      .read-more{
        margin-top: 35px;
      }
    }
  }
}


.recent{
  background-color: #f1f1f1;
  padding: 75px 0 115px;
  &__heading{
    margin: 0 auto;
    width: 960px;
    text-align: center;
    .recent__nav{
      display: flex;
      justify-content: center;
      margin: 50px 0;
    }
  }
  &__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    line-height: 52px;
    font-weight: 600;
  }
  &__text{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 32px;
    margin-top: 45px;
  }
  &__items{
    margin: 0 -19px;
  }
  &__items-wrapper{
    display: flex;
    flex-wrap: wrap;
  }
  &__item{
    padding: 0 17px 34px;
  }
  .read-more{
    margin: 55px auto 0;
  }
}

.partners{
  background-color: #4b2d7f;
  padding: 115px 0;
  &__wrapper{
    margin: 0 -65px;
  }
  &__items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 65px;
  }
  &__item{
    width: 260px;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.testimonials{
  background: url('/images/testimonials/background.jpg') no-repeat center / cover;
  padding-top: 15px;
  &__wrapper{
    display: flex;
    justify-content: center;
  }
  &__info{
    width: 580px;
  }
  &__pretitle{
    font-family: 'Palatino', sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 80px;
    color: #fff;
    margin-top: 55px;
  }
  &__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    line-height: 52px;
    font-weight: 600;
    color: #fff;
  }
  &__text{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 22px;
    color: #fff;
    padding: 28px 0 0 55px;
    margin-top: 44px;
    &:before{
      content: url('/images/testimonials/quotes.png');
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  &__rating{
    padding-left: 55px;
    margin-top: 100px;
  }
  &__author{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #fff;
    padding-top: 25px;
  }
  &__person{
    margin-left: 45px;
  }
}

.help{
  background: url('/images/help/background.jpg') no-repeat center / cover;
  padding: 85px 0;
  &__form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
  }
  &__input{
    width: 495px;
    padding: 24px 42px;
    margin-right: 20px;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: #f16e99;
    color: #fff;
    @include placeholder()
  }
  .read-more{
    margin-top: -15px;
    button{
      background-color: #4b2d7f;
    }
    &__button-shadow{
      background-color: #a57ee9;
    }
  } 
  &__heading{
    margin: 0 auto;
    text-align: center;
  }
  &__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    line-height: 52px;
    font-weight: 600;
    color: #fff;
  }
  &__subtitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    margin-top: 30px;
  }
  &__text{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    margin-top: 30px;
  }
}

.links{
  background-color: #4b2d7f;
  padding: 80px 0;
  margin: 0 auto;
  text-align: center;
}

.company{
  background: url('/images/company/world-map.png') no-repeat;
  background-position: center;
  padding: 116px 0 0;
  &__wrapper{
    display: flex;
    justify-content: space-between;
  }
  &__links{
    display: flex;
    flex-wrap: wrap;
  }
  &__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  &__item{
    padding: 0 20px 20px 0;
  }
  &__title{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #4b2d7f;
  }
  &__list {
    margin: 32px 155px 0 0;
  }
  &__list-item{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: 600;
  }
  .footer{
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    padding: 55px 0;
    margin-top: 110px;
  }
}