@import 'reset';
@import '_fonts';
@import '_modal';
@import '_buttons';
@import '_modules';

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.links{
  background-color: #4b2d7f;
  padding: 80px 0;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 1950px) {

}

@media (max-width: 1760px) {

}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}